// .inner__origin
// position relative
// overflow scroll
// height 100%

// .inner__origin::-webkit-scrollbar
// display: none;

// html {overflow: -moz-scrollbars-none;}
.inner__origin
	position relative
	overflow hidden
	width 100%
	height 100%

.showArea__origin
	overflow-y scroll
	box-sizing content-box /* So the width will be 100% + 17px */
	padding-right 17px /* Increase/decrease this value for cross-browser compatibility */
	width 100%
	height 100%
