// .inner__origin
// position relative
// overflow scroll
// height 100%

// .inner__origin::-webkit-scrollbar
// display: none;

// html {overflow: -moz-scrollbars-none;}
.inner__origin
	position relative
	overflow hidden
	width 100%
	height 100%

.showArea__origin
	overflow-x scroll
	overflow-y scroll
	box-sizing content-box
	padding-right 17px
	padding-bottom 17px
	width 100%
	height 100%

.prop-panel__content
	width 700px !important

.showArea__disable--x
	overflow-x hidden

.showArea__disable--y
	overflow-y hidden