.vertical-scroll {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 8px;
    transition: opacity .4s linear;
    opacity: 0;
  }
.horizontal-scroll {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 8px;
    transition: opacity .4s linear;
    opacity: 0;
  }
  .inner{
      position: relative    ;
      height: 100%;
      overflow: hidden;
  }
  
  .slider__vertical{
    position: relative;
    width: 100%;
    background: rgba(121, 121, 121, 0.8);
    /* background: black; */
    border-radius: 10px;
    transform: translate(0px,0px);
    will-change: transform;

  }
  .slider__horizontal {
    position: relative;
    height: 100%;
    background: rgba(121, 121, 121, 0.8);
    /* background: black; */
    border-radius: 10px;
    transform: translate(0px,0px);
    will-change: transform;

  }
  .invisible{
    opacity: 0;
  
  }
  .visible{
    opacity: 1;
    transition: opacity .1s linear;
    background-color: rgba(0,0,0,0.0);

  }
  .mousein{
    opacity: 1;
    /* transition: opacity .1s linear; */
    /* border: 1px solid rgba(0,0,0,0.3); */
    background-color: rgba(0,0,0,0.1);
  }


  .showArea{
    /* position: absolute; */
    transform: translate(0px,0px);
    position: relative;
    will-change: transform;
    /* top: 0px; */
  }